html {
  font-size: 24px;
}

body {
  background-image: url(../assets/images/blurred_backgrounds/purple_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: relative;
  background-size: cover;
  overflow: hidden;
  color: hsl(268, 100%, 30%);
  font-family: 'Nanum Gothic', sans-serif;
}

nav {
  background: : hsla(0, 0%, 0%, 0.2);
  padding: 1rem 1rem;
}

nav img {
  height: 50px;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 4rem auto 150px;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border-radius:5%;
  color: hsla(268, 100%, 42%, 1);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 28px;
  background-color: hsla(0, 0%, 0%, 0.58);
}

#album-info {
  font-family: 'Nanum Gothic', sans-serif;
  color: hsl(268, 100%, 30%);
}

#album-cover-art {
  float: left;
  margin-right: 2rem;
  position: relative;
  width: 250px;
  max-width: 33%;
}

#album-title {
  font-size: 30px;
  margin: 15px;
  font-family: 'Handlee', sans-serif;
  text-transform: uppercase;
  color: #4786A2;
}

h2.artist {
  font-size: 70px;
  margin: 0.5rem;
  font-family: 'Handlee', cursive;
  text-transform: uppercase;
  color: hsla(268, 100%, 42%, 1);
}

#release-info {
  margin: 10px;
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #4786A2;
}
