#song-list {
  border-collapse: collapse;
  clear: both;
  font-weight: 100;
  margin-top: 3rem;
  overflow: hidden;
  width: 100%;
}

#song-number-column {
  width: 40px;
}
#song-duration-column {
  width: 80px;
}

tr {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  background: hsla(0, 0%, 0%, 0.01);
  transition: all 0.2s ease;
}

tr:focus {
  outline: aliceblue;
}

tr:hover .ion-play,
tr.playing .ion-pause,
tr.paused .ion-play {
  display: block;
  color: #4786A2;
}

tr .ion-play,
tr .ion-pause,
tr:hover .song-number,
tr.playing .ion-play,
tr.playing .song-number,
tr.paused .ion-pause,
tr.paused .song-number {
  display: none;
}

tr:hover {
  background: hsla(0, 0%, 0%, 0.05);
  cursor: pointer;
}

tr.playing {
  background: hsla(0, 0%, 0%, 0.1);
}

tr:hover .song-title {
  hsl(268, 100%, 30%);
}

tr:last-child {
  border: none;
}

td.song-title {
  padding: 0.75rem;
}

td.current-time  {
  margin-right: 8rem;
  color: #4786A2;
}

td.total-time  {
  padding: 0.75rem;
}

tr button {
  border: none;
  background: none;
  color: hsl(268, 100%, 30%);
  cursor: pointer;
  padding: 0;
}

tr button:focus {
  outline: none;
  text-shadow: 2px 4px 3px #4786A2;);
}

tr button:focus .song-number {
  display: none;
}
tr button:focus .ion-play {
  display: block;
}

tr.playing button:focus .song-number,
tr.playing button:focus .ion-play {
  display: none;
}
tr.playing button:focus .ion-pause {
  display: block;
}

.song-number {
  color: #4786A2;
}

.song-title {
  hsla(268, 100%, 42%, 1);
}

.song-duration {
  color: #4786A2;
  text-align: right;
}

.album-details {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
